---
import { SITE } from 'astrowind:config';
import OptimizedImage from '~/components/common/OptimizedImage.astro';
---

<div class="flex items-center gap-3">
  <OptimizedImage
    src="/brand/logo.png"
    alt={SITE?.name ?? 'Somerset Window Cleaning Logo'}
    class="logo-img h-[50px] sm:h-[60px] md:h-[80px] lg:h-[100px] w-auto object-contain transition-all duration-300 ease-out"
    width={500}
    height={500}
    quality={95}
    formats={['avif', 'webp', 'png']}
    critical={true}
    blurUp={false}
    preload={true}
    sizes="(max-width: 640px) 50px, (max-width: 768px) 60px, (max-width: 1024px) 80px, 100px"
    widths={[50, 60, 80, 100, 150, 200]}
  />
</div>
